<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grand.springcloud.mapper.sqlserver.XpGridUsersInRolesMapper">
  <resultMap id="BaseResultMap" type="com.grand.springcloud.entity.sqlserver.XpGridUsersInRoles">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="RoleId" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xpGrid_UsersInRoles
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.grand.springcloud.entity.sqlserver.XpGridUsersInRoles">
    insert into xpGrid_UsersInRoles (ID, UserID, RoleId
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.grand.springcloud.entity.sqlserver.XpGridUsersInRoles">
    update xpGrid_UsersInRoles
    set UserID = #{userid,jdbcType=INTEGER},
      RoleId = #{roleid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, UserID, RoleId
    from xpGrid_UsersInRoles
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, UserID, RoleId
    from xpGrid_UsersInRoles
  </select>
</mapper>