<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grand.springcloud.mapper.supplier.PNMapper">
  <resultMap id="BaseResultMap" type="com.grand.springcloud.entity.supplier.PN">
    <id column="DNNUM" jdbcType="VARCHAR" property="dnnum" />
    <result column="PMN33" jdbcType="VARCHAR" property="pmn33" />
    <result column="SUPID" jdbcType="VARCHAR" property="supid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="CHANGE_USER" jdbcType="VARCHAR" property="changeUser" />
    <result column="CHANGE_TIME" jdbcType="VARCHAR" property="changeTime" />
    <result column="PLANT" jdbcType="VARCHAR" property="plant" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="IMPORTTYPE" jdbcType="VARCHAR" property="importtype" />
    <result column="IMPORTNUMBER" jdbcType="VARCHAR" property="importnumber" />
    <result column="REJECTFLAG" jdbcType="DECIMAL" property="rejectflag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SUPPLIER.PN
    where DNNUM = #{dnnum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.grand.springcloud.entity.supplier.PN">
    insert into SUPPLIER.PN (DNNUM, PMN33, SUPID, 
      NAME, CREATE_TIME, CHANGE_USER, 
      CHANGE_TIME, PLANT, STATUS, 
      IMPORTTYPE, IMPORTNUMBER, REJECTFLAG
      )
    values (#{dnnum,jdbcType=VARCHAR}, #{pmn33,jdbcType=VARCHAR}, #{supid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{changeUser,jdbcType=VARCHAR}, 
      #{changeTime,jdbcType=VARCHAR}, #{plant,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{importtype,jdbcType=VARCHAR}, #{importnumber,jdbcType=VARCHAR}, #{rejectflag,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.grand.springcloud.entity.supplier.PN">
    update SUPPLIER.PN
    set PMN33 = #{pmn33,jdbcType=VARCHAR},
      SUPID = #{supid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      CHANGE_USER = #{changeUser,jdbcType=VARCHAR},
      CHANGE_TIME = #{changeTime,jdbcType=VARCHAR},
      PLANT = #{plant,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      IMPORTTYPE = #{importtype,jdbcType=VARCHAR},
      IMPORTNUMBER = #{importnumber,jdbcType=VARCHAR},
      REJECTFLAG = #{rejectflag,jdbcType=DECIMAL}
    where DNNUM = #{dnnum,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select DNNUM, PMN33, SUPID, NAME, CREATE_TIME, CHANGE_USER, CHANGE_TIME, PLANT, STATUS, 
    IMPORTTYPE, IMPORTNUMBER, REJECTFLAG
    from SUPPLIER.PN
    where DNNUM = #{dnnum,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DNNUM, PMN33, SUPID, NAME, CREATE_TIME, CHANGE_USER, CHANGE_TIME, PLANT, STATUS, 
    IMPORTTYPE, IMPORTNUMBER, REJECTFLAG
    from SUPPLIER.PN
  </select>
</mapper>